@import './theme/tailwind.css';
@import './antdReset/index.css';

.layout-bg {
  background-color: #f6f8fa;
}

.form-wrap {
  @apply max-w-xl pt-2;
}


body {
  a {
    color: var(--color-link);
    &:hover {
      color: var(--color-link-hover);
    }
  }
}
