@import 'tailwindcss';

@theme {
  --color-text: var(--color-neutral-900);
  --color-primary: var(--color-indigo-800);
  --color-primary-light: var(--color-indigo-50);
  --color-border: rgb(240, 240, 240);
  --color-link: var(--color-indigo-800);
  --color-link-hover: var(--color-indigo-400);
  --animate-fade-in-up: fade-in-up 0.3s ease-out;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




/* --color-*: initial;
--color-white: #fff;
--color-gray-90: rgba(0, 0, 0, 0.88);
--color-gray-70: rgba(0, 0, 0, 0.65);
--color-gray-50: rgba(0, 0, 0, 0.45);
--color-gray-30: rgba(0, 0, 0, 0.25);
--color-primary: rgb(19, 49, 136);
--color-secondary: rgb(40, 155, 255);
--color-primary-hover: rgba(19, 49, 136, 0.08);
--color-primary-active: rgba(19, 49, 136, 0.16); */